@model myWeb_work.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign_Up</title>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <div>
        <form action="Submit" method="post">
           <table>
               <tr>
                   <td>ID:</td>
                   <td><input id="Text1" name="ID" type="text" value="@Model.ID" />@Html.ValidationMessageFor(x => x.ID) @ViewBag.Error</td>
               </tr>
               <tr>
                   <td>Password:</td>
                   <td><input id="Password1" name="Password" type="password" value="@Model.Password" />@Html.ValidationMessageFor(x => x.Password)</td>
               </tr>
               <tr></tr>
               <tr>
                   <td>First Name:</td>
                   <td><input id="Text1" name="FirstName" type="text" value="@Model.FirstName" />@Html.ValidationMessageFor(x => x.FirstName)</td>
               </tr>
               <tr>
                   <td>Last Name:</td>
                   <td><input id="Text1" name="LastName" type="text" value="@Model.LastName" />@Html.ValidationMessageFor(x => x.LastName)</td>
               </tr>
               <tr>
                   <td>Emai:</td>
                   <td><input id="Text1" name="Email" type="text" value="@Model.Email" /></td>
               </tr>
               <tr>
                   <td>Phone Nunmer:</td>
                   <td><input id="Text1" name="PhoneNumber" type="text" value="@Model.PhoneNumber" />@Html.ValidationMessageFor(x => x.PhoneNumber)</td>
               </tr>
               <tr>
                   <td><input id="Submit1" type="submit" value="Ok" /></td>
               </tr>   
           </table>
        </form>
    </div>
</body>
</html>

